<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.EventMeetingMapper">

    <resultMap id="eventMeetingMap" type="com.pig4cloud.pigx.admin.entity.EventMeetingEntity">
        <id property="id" column="id"/>
        <result property="imgUrl" column="img_url"/>
        <result property="name" column="name"/>
        <result property="organizer" column="organizer"/>
        <result property="eventTime" column="event_time"/>
        <result property="location" column="location"/>
        <result property="content" column="content"/>
        <result property="signUpStart" column="sign_up_start"/>
        <result property="signUpEnd" column="sign_up_end"/>
        <result property="deptId" column="dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>
</mapper>