<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.PatentProposalMapper">

  <resultMap id="patentProposalMap" type="com.pig4cloud.pigx.admin.entity.PatentProposalEntity">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="flowInstId" column="flow_inst_id"/>
        <result property="flowKey" column="flow_key"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="currentNodeName" column="current_node_name"/>
        <result property="title" column="title"/>
        <result property="type" column="type"/>
        <result property="techField" column="tech_field"/>
        <result property="planYears" column="plan_years"/>
        <result property="isHighValueInner" column="is_high_value_inner"/>
        <result property="isTransform" column="is_transform"/>
        <result property="isFromProject" column="is_from_project"/>
        <result property="isFastTrack" column="is_fast_track"/>
        <result property="projectType" column="project_type"/>
        <result property="projectName" column="project_name"/>
        <result property="applicantOrgs" column="applicant_orgs"/>
        <result property="inventorsInner" column="inventors_inner"/>
        <result property="inventorsOuter" column="inventors_outer"/>
        <result property="abstractText" column="abstract_text"/>
        <result property="claimsText" column="claims_text"/>
        <result property="descriptionText" column="description_text"/>
        <result property="isPromise" column="is_promise"/>
        <result property="isAgency" column="is_agency"/>
        <result property="agencyName" column="agency_name"/>
        <result property="fastTrackFile" column="fast_track_file"/>
        <result property="claimsFile" column="claims_file"/>
        <result property="descriptionFile" column="description_file"/>
        <result property="descFigureFile" column="desc_figure_file"/>
        <result property="abstractFigureFile" column="abstract_figure_file"/>
        <result property="deptId" column="dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>