<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.PatentProposalCompleterMapper">

  <resultMap id="patentProposalCompleterMap" type="com.pig4cloud.pigx.admin.entity.PatentProposalCompleterEntity">
        <id property="id" column="id"/>
        <result property="patentProposalId" column="patent_proposal_id"/>
        <result property="completerNo" column="completer_no"/>
        <result property="completerName" column="completer_name"/>
        <result property="completerType" column="completer_type"/>
        <result property="completerDeptId" column="completer_dept_id"/>
        <result property="completerDeptName" column="completer_dept_name"/>
        <result property="completerPhone" column="completer_phone"/>
        <result property="completerEmail" column="completer_email"/>
        <result property="completerLeader" column="completer_leader"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>