<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.PatentMergeMapper">

    <resultMap id="patentMergeMap" type="com.pig4cloud.pigx.admin.entity.PatentMergeEntity">
        <id property="id" column="id"/>
        <result property="pid" column="pid"/>
        <result property="title" column="title"/>
        <result property="abs" column="abs"/>
        <result property="patType" column="pat_type"/>
        <result property="lprs" column="lprs"/>
        <result property="statusCode" column="status_code"/>
        <result property="appNumber" column="app_number"/>
        <result property="appDate" column="app_date"/>
        <result property="pubNumber" column="pub_number"/>
        <result property="pubDate" column="pub_date"/>
        <result property="grantDate" column="grant_date"/>
        <result property="expireDate" column="expire_date"/>
        <result property="applicantName" column="applicant_name"/>
        <result property="applicantType" column="applicant_type"/>
        <result property="inventorName" column="inventor_name"/>
        <result property="patentee" column="patentee"/>
        <result property="nec" column="nec"/>
        <result property="mainIpc" column="main_ipc"/>
        <result property="ipc" column="ipc"/>
        <result property="ipcSection" column="ipc_section"/>
        <result property="ipcClass" column="ipc_class"/>
        <result property="ipcSubClass" column="ipc_sub_class"/>
        <result property="ipcGroup" column="ipc_group"/>
        <result property="ipcSubGroup" column="ipc_sub_group"/>
        <result property="cpc" column="cpc"/>
        <result property="cpcSection" column="cpc_section"/>
        <result property="cpcClass" column="cpc_class"/>
        <result property="cpcSubClass" column="cpc_sub_class"/>
        <result property="cpcGroup" column="cpc_group"/>
        <result property="cpcSubGroup" column="cpc_sub_group"/>
        <result property="agencyName" column="agency_name"/>
        <result property="agentName" column="agent_name"/>
        <result property="priorityCountry" column="priority_country"/>
        <result property="priorityNo" column="priority_no"/>
        <result property="priority" column="priority"/>
        <result property="firstPriority" column="first_priority"/>
        <result property="address" column="address"/>
        <result property="addrProvince" column="addr_province"/>
        <result property="addrCity" column="addr_city"/>
        <result property="addrCounty" column="addr_county"/>
        <result property="appCoun" column="app_coun"/>
        <result property="pubCountryCode" column="pub_country_code"/>
        <result property="proCode" column="pro_code"/>
        <result property="countryCode" column="country_code"/>
        <result property="countryName" column="country_name"/>
        <result property="provinceCode" column="province_code"/>
        <result property="provinceName" column="province_name"/>
        <result property="patentWords" column="patent_words"/>
        <result property="titleKey" column="title_key"/>
        <result property="clKey" column="cl_key"/>
        <result property="bgKey" column="bg_key"/>
        <result property="claimsQuantity" column="claims_quantity"/>
        <result property="independentClaimsQuantity" column="independent_claims_quantity"/>
        <result property="subClaimsQuantity" column="sub_claims_quantity"/>
        <result property="patentRightTransferQuantity" column="patent_right_transfer_quantity"/>
        <result property="applicationRightTransferQuantity" column="application_right_transfer_quantity"/>
        <result property="licenseQuantity" column="license_quantity"/>
        <result property="pledgeQuantity" column="pledge_quantity"/>
        <result property="preservationQuantity" column="preservation_quantity"/>
        <result property="citQuantity" column="cit_quantity"/>
        <result property="patCitedQuantity" column="pat_cited_quantity"/>
        <result property="nplCitedQuantity" column="npl_cited_quantity"/>
        <result property="fwCitQuantity" column="fw_cit_quantity"/>
        <result property="familyQuantity" column="family_quantity"/>
        <result property="reexaminationDecisionQuantity" column="reexamination_decision_quantity"/>
        <result property="reexaminationValidQuantity" column="reexamination_valid_quantity"/>
        <result property="courtDecisionQuantity" column="court_decision_quantity"/>
        <result property="sameApp" column="same_app"/>
        <result property="dbName" column="db_name"/>
        <result property="appResource" column="app_resource"/>
        <result property="iapp" column="iapp"/>
        <result property="ipub" column="ipub"/>
        <result property="den" column="den"/>
        <result property="pages" column="pages"/>
        <result property="declassifiedPublicationDate" column="declassified_publication_date"/>
        <result property="iappNo" column="iapp_no"/>
        <result property="iappDate" column="iapp_date"/>
        <result property="ipubNo" column="ipub_no"/>
        <result property="ipubDate" column="ipub_date"/>
        <result property="pctCountry" column="pct_country"/>
        <result property="figure" column="figure"/>
        <result property="patentedTime" column="patented_time"/>
        <result property="advancedPublishedDocument" column="advanced_published_document"/>
        <result property="historyPatentee" column="history_patentee"/>
        <result property="description" column="description"/>
        <result property="inventors" column="inventors"/>
        <result property="subclass" column="subclass"/>
        <result property="simpleFamilyNo" column="simple_family_no"/>
        <result property="simpleFamily" column="simple_family"/>
        <result property="simpleFamilyQuantity" column="simple_family_quantity"/>
        <result property="simpleFamilyCountry" column="simple_family_country"/>
        <result property="extendFamilyNo" column="extend_family_no"/>
        <result property="extendFamily" column="extend_family"/>
        <result property="extendFamilyQuantity" column="extend_family_quantity"/>
        <result property="extendFamilyCountry" column="extend_family_country"/>
        <result property="patenteeAddr" column="patentee_addr"/>
        <result property="patenteeAddrProvince" column="patentee_addr_province"/>
        <result property="patenteeAddrCity" column="patentee_addr_city"/>
        <result property="patenteeAddrCounty" column="patentee_addr_county"/>
        <result property="createBy" column="create_by"/>
        <result property="patenteType" column="patente_type"/>
        <result property="createTime" column="create_time"/>
        <result property="primaryApplicantName" column="primary_applicant_name"/>
        <result property="updateBy" column="update_by"/>
        <result property="primaryInventorName" column="primary_inventor_name"/>
        <result property="updateTime" column="update_time"/>
        <result property="primaryPatentee" column="primary_patentee"/>
        <result property="delFlag" column="del_flag"/>
        <result property="divideInitApp" column="divide_init_app"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="divideInitAppDate" column="divide_init_app_date"/>
        <result property="divideInitAppNo" column="divide_init_app_no"/>
        <result property="applicantQuantity" column="applicant_quantity"/>
        <result property="agentQuantity" column="agent_quantity"/>
        <result property="patenteeQuantity" column="patentee_quantity"/>
        <result property="ipcQuantity" column="ipc_quantity"/>
        <result property="overseasFamilyQuantity" column="overseas_family_quantity"/>
        <result property="invalidReasonCode" column="invalid_reason_code"/>
        <result property="highValueFlag" column="high_value_flag"/>
        <result property="strategicEmergingIndustryFlag" column="strategic_emerging_industry_flag"/>
        <result property="overseasFamilyFlag" column="overseas_family_flag"/>
        <result property="maintenancePeriodFlag" column="maintenance_period_flag"/>
        <result property="highFinancingQuotaFlag" column="high_financing_quota_flag"/>
        <result property="awardFlag" column="award_flag"/>
    </resultMap>
</mapper>