<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.mapper.PatentLogMapper">

  <resultMap id="patentLogMap" type="com.pig4cloud.pigx.entity.PatentLogEntity">
        <id property="id" column="id"/>
        <result property="requestParam" column="request_param"/>
        <result property="responseBody" column="response_body"/>
        <result property="appDate" column="app_date"/>
        <result property="status" column="status"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>