<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.PatentMonitorMapper">

    <resultMap id="patentMonitorMap" type="com.pig4cloud.pigx.admin.entity.PatentMonitorEntity">
        <id property="id" column="id"/>
        <result property="eventTime" column="event_time"/>
        <result property="eventContent" column="event_content"/>
        <result property="pid" column="pid"/>
        <result property="title" column="title"/>
        <result property="patType" column="pat_type"/>
        <result property="lprs" column="lprs"/>
        <result property="statusCode" column="status_code"/>
        <result property="appNumber" column="app_number"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
    </resultMap>
</mapper>