<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.PlantVarietyMapper">

  <resultMap id="plantVarietyMap" type="com.pig4cloud.pigx.admin.entity.PlantVarietyEntity">
        <id property="id" column="id"/>
        <result property="code" column="code"/>
        <result property="flowInstId" column="flow_inst_id"/>
        <result property="flowKey" column="flow_key"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="currentNodeName" column="current_node_name"/>
        <result property="name" column="name"/>
        <result property="rightNo" column="right_no"/>
        <result property="genusType" column="genus_type"/>
        <result property="genusName" column="genus_name"/>
        <result property="applyDate" column="apply_date"/>
        <result property="authDate" column="auth_date"/>
        <result property="breederOutName" column="breeder_out_name"/>
        <result property="certFileUrl" column="cert_file_url"/>
        <result property="deptId" column="dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>