<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SoftCopyOwnerMapper">

  <resultMap id="softCopyOwnerMap" type="com.pig4cloud.pigx.admin.entity.SoftCopyOwnerEntity">
        <id property="id" column="id"/>
        <result property="softCopyId" column="soft_copy_id"/>
        <result property="seq" column="seq"/>
        <result property="ownerName" column="owner_name"/>
        <result property="ownerType" column="owner_type"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>