<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.SoftCopyMapper">

  <resultMap id="softCopyMap" type="com.pig4cloud.pigx.admin.entity.SoftCopyEntity">
        <id property="id" column="id"/>
        <result property="deptId" column="dept_id"/>
        <result property="softName" column="soft_name"/>
        <result property="techField" column="tech_field"/>
        <result property="relyProject" column="rely_project"/>
        <result property="projectType" column="project_type"/>
        <result property="projectName" column="project_name"/>
        <result property="agentName" column="agent_name"/>
        <result property="agentContact" column="agent_contact"/>
        <result property="pledge" column="pledge"/>
        <result property="attachmentUrls" column="attachment_urls"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>