<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.StandardMapper">

  <resultMap id="standardMap" type="com.pig4cloud.pigx.admin.entity.StandardEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="flowInstId" column="flow_inst_id"/>
        <result property="flowKey" column="flow_key"/>
        <result property="flowStatus" column="flow_status"/>
        <result property="currentNodeName" column="current_node_name"/>
        <result property="type" column="type"/>
        <result property="dept" column="dept"/>
        <result property="pubDate" column="pub_date"/>
        <result property="implDate" column="impl_date"/>
        <result property="drafterOutName" column="drafter_out_name"/>
        <result property="fileUrl" column="file_url"/>
        <result property="deptId" column="dept_id"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="tenantId" column="tenant_id"/>
  </resultMap>
</mapper>