<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pig4cloud.pigx.admin.mapper.JzgjbxxToZscqMapper">

  <resultMap id="jzgjbxxToZscqMap" type="com.pig4cloud.pigx.admin.entity.JzgjbxxToZscqEntity">
        <id property="id" column="id"/>
        <result property="gh" column="gh"/>
        <result property="xm" column="xm"/>
        <result property="xb" column="xb"/>
        <result property="yddh" column="yddh"/>
        <result property="zc" column="zc"/>
        <result property="bmbh" column="bmbh"/>
        <result property="bmmc" column="bmmc"/>
        <result property="zglx" column="zglx"/>
  </resultMap>
</mapper>